#container{
    margin: 1%;
}

.commentEntry{
    border: solid 1px;
    margin: 2px;
    white-space: pre-line
}

button{
    background-color: deepskyblue;
    color: aliceblue;
    border-radius: 12px;    
}